<%= form_for @pin do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true, :required => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, :required => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image, :required => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :board_ids %>
    <%= f.select :board_ids, Board.where(:user_id => @current_user.id).pluck(:name) %>
  </div>

  <%= f.submit "Create Pin", :class => 'btn btn-primary btn-lg' %>
<% end %>
