<h1><%= @pin.title %></h1>

<% unless @boards.present? %>
  <% b_path = boards_path + '/' + @board.id.to_s %>
  <div class="row py-2">
    <span class="text-success mx-2">Board: </span>
    <span><%= link_to @board.name, b_path %></span>
  </div>
<% end %>

<div class="row">
  <%= link_to image_tag(@pin.image, :alt => @pin.title, :class => 'img-bg'), @pin.url, :target => '_blank' %>
</div>

<%= link_to "Edit Pin", edit_pin_path, :class => 'btn btn-primary my-5' %>
<%= link_to "Delete Pin", pin_path, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this pin?" }, :class => 'btn btn-primary my-5' %>
